<!-- <div class="overlay" id="overlay"></div> -->

<div class="modal fade" id="{{modalId}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{'movies.details.cast.modal' | translate}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <ng-content></ng-content>
            </div>

        </div>
    </div>
</div>

