<!-- <select [(ngModel)]="language" (change)="switchLanguage(language)">
    <option value="pt-BR">Português<span class="fi fi-br"></span></option>
    <option value="en-US">Inglês<span class="fi fi-us"></span></option>
    <option value="es-ES">Espanhol<span class="fi fi-es"></span></option>
    <option value="pl-POL">Polonês</option>
</select> -->

<div class="p-0">
  <select class=" form-select" id="floatingSelect" [(ngModel)]="language" (change)="switchLanguage(language)" aria-label="Floating label select example">
    <option selected value="pt-BR">Português<span class="fi fi-br"></span></option>
    <option value="en-US">Inglês<span class="fi fi-us"></span></option>
    <option value="es-ES">Espanhol<span class="fi fi-es"></span></option>
    <option value="pl-POL">Polonês</option>
  </select>
</div>

