.botaoVerMais{
    background-color: #1D4ED8;
    color: white;
    height: 52px;
}

#botaoVerFilmes{
    background-color: white !important;
    color: #1D4ED8;
    height: 52px;
    font-size: 16px;
    font-weight: 500;
}
