<div class="d-flex flex-column align-items-center">
    <div>

        <img class="imgClass" [routerLink]="['/movie', movie.id]" width="100%" [src]="'https://image.tmdb.org/t/p/original/' + movie.poster_path">


        <div class="d-flex mt-1">
            <div>
                <span class="movieTitle">{{movie.title}}<br></span>
                <span class="movieDate">{{movie.release_date | date: 'longDate': '' : 'pt-BR'}}</span>
            </div>
            <div class="flex-grow-1 d-flex justify-content-end align-items-center">
                <button (click)="toggleFavorito()" class="botaoFavoritar btn">

                    <img [src]="isFavoritado ? 'assets/img/VectorFav.png' : 'assets/img/VectorNaoFav.png'">

                </button>
            </div>
        </div>

    </div>
</div>