<!-- <div class="card p-4 rounded-4">

    <h4>Avalie</h4>

    <form [formGroup]="meuFormulario" (ngSubmit)="onSubmit()">

        <div class="d-flex mb-3 gap-3 justify-content-between">
            <div class="col-7">
                <label for="nomeInput" class="form-label">Nome</label>
                <input formControlName="author" type="text" class="form-control" id="nomeInput">
            </div>
            <div class="col-4">
                <label for="emailInput" class="form-label">Asistido em</label>
                <input formControlName="reviewDate" type="date" class="form-control"
                    id="emailInput" placeholder="name@gmail.com">
            </div>
        </div>
        <div>
            <label for="emailInput" class="form-label">Email</label>
            <input formControlName="email" type="email" class="form-control"
                id="emailInput" placeholder="name@gmail.com">
        </div>
        <div class="d-flex mt-3 gap-4">
            <div class="col-12">
                <label for="comentarioInput" class="form-label">Comentário</label>
                <textarea formControlName="reviewContent" class="form-control"
                    id="comentarioInput" rows="2"></textarea>
            </div>
            <!-- <div class="col-3">
                <label for="emailInput" class="form-label">Asistido em</label>
                <input [(ngModel)]="reviewDateModel" formControlName="reviewDate" type="date" class="form-control" id="emailInput" placeholder="name@gmail.com">
            </div> -->
        <!-- </div>
        <div class="mt-3">
            <label for="nota" class="form-label">Nota</label>
            <input [(ngModel)]="ratingModel" formControlName="rating" type="range" class="form-range" id="nota" max="10"
                step="1" list="values">

            <datalist id="values">
                <option value="1" label="1"></option>
                <option value="2" label="2"></option>
                <option value="3" label="3"></option>
                <option value="4" label="4"></option>
                <option value="5" label="5"></option>
                <option value="1" label="6"></option>
                <option value="2" label="7"></option>
                <option value="3" label="8"></option>
                <option value="4" label="9"></option>
                <option value="5" label="10"></option>
            </datalist>
        </div>
        <div class="">
            <button class="btn btn-primary" type="submit" [disabled]="formInvalido">Enviar</button>
        </div>


    </form>

</div> --> 